<div class="navigation-menu">
    <div class="container">
        <div class="menu-mobile-effect navbar-toggle button-collapse" data-activates="mobile-demo">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div class="width-logo sm-logo">
            <a href="#" title="Travelicano" rel="home">
                <img src="images/logo.png" alt="Logo" width="474" height="130" class="logo_transparent_static">
                <img src="images/logo_sticky.png" alt="Sticky logo" width="474" height="130" class="logo_sticky">
            </a>
        </div>
        <nav class="width-navigation">
            <ul class="nav navbar-nav menu-main-menu side-nav" id="mobile-demo">
                <li class="current-menu-ancestor current-menu-parent">
                    <a href="index.html">Home</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Tours</a>
                    <ul class="sub-menu">
                        <li><a href="tours-4-cols.html">Tour Packages</a><li>
                        <li><a href="destinations.html">City Tours</a><li>
                    </ul>
                </li>

                <li><a href="">Drops/Pickups</a></li>


                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="travel-tips.html">Travel Tips</a></li>
                        <!-- <li><a href="typography.html">Typography</a></li> -->
                        <!-- <li><a href="checkout.html">Checkout</a></li> -->
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>

            </ul>
        </nav>
    </div>
</div>